html {
    height: 100%;
    width: 100%;
}

.main-window{
    height: 100%;
    width: 100%;
    padding: 2%;
}

.menu {
    display: flex;
    justify-content: center; /* horizontal alignment*/
    align-items: center; /* vertical alignment*/
    height: 100%;
}

.cards-holder {
    display: flex;
}

.card {
    width: fit-content; 
    min-height: 20rem;
    height: fit-content;
    margin: 5px;
}

.card-body {
    margin: 5px;
    width: 100%;
    display: block;

}

.card-img-top {
    height: 150px;
    width: auto;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scan-btn-col {
    flex-grow: 2;
    width: min-content;
    height: min-content;
    margin: 5px;
}

.files-btn-col {
    flex-grow: 8;
}

.eye {
    display: block;
}
