html {
    height: 100%;
    width: 100%;
}

.main-window{
    height: 100%;
    width: 100%;
    padding: 2%;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal alignment*/
    align-items: center; /* vertical alignment*/
    height: 80%;
}

.card {
    display: flex;
    width: 30rem; 
    min-height: 20rem;
    height: fit-content;
    margin: 5px;
}

.card-body {
    margin: 5px;
    width: 100%;
    display: block;

}

.card-img-top {
    height: 200px;
    width: auto;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scan-btn-col {
    flex-grow: 2;
    width: min-content;
    height: min-content;
    margin: 5px;
}

.files-btn-col {
    flex-grow: 8;
}

.eye-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.scan-spinner {
    display: flex;
    width: 24px;
    height: 24px;
}

.scan-paragraph {
    display: flex;
    vertical-align: middle;
    flex: 2;
    align-items: center;
    margin-bottom: 0;
}

.scan-img {
    width: 15px;
    height: 15px;
}

.scan-wrapper {
    display: flex;
    margin: 5px;
}

.processing-list {
    overflow-y: hidden; 
    overflow-wrap: normal; 
    overflow-x: hidden; 
    min-height: 0px; 
    height: fit-content;
}