html {
    height: 100%;
    width: 100%;
}

.main-window{
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.alert {
    display: flex;
    width: 45%;
}

.file-input {
    width: 100%;
}

.card {
    display: flex;
    flex: 4;
    width: 45%; 
    min-height: 23rem;
    height: fit-content;
    margin: 5px;
}

.card-body {
    margin: 5px;
    width: 100%;
    display: block;
}

.card-img-top {
    height: 200px;
    width: auto;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scan-btn-col {
    flex-grow: 2;
    height: min-content;
    margin-left: 5px;
    width: 15%;
}

.files-btn-col {
    flex-grow: 8;
    width: 75%;
}

.eye-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.scan-spinner {
    display: flex;
    width: 24px;
    height: 24px;
}

.scan-paragraph {
    display: flex;
    vertical-align: middle;
    flex: 2;
    align-items: center;
    margin-bottom: 0;
}

.scan-img {
    width: 15px;
    height: 15px;
}

.scan-wrapper {
    display: flex;
    margin: 5px;
}

.processing-list {
    overflow-y: hidden; 
    overflow-wrap: normal; 
    overflow-x: hidden; 
    min-height: 0px; 
    height: fit-content;
}