body {
    padding: 2%;
}

.scans-holder {
    display: flex;
    flex-wrap: wrap;
}

.scan {
    flex: auto;
    flex-grow: 0;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    margin: 10px;
    padding: 2px;
}

.image-upload>input {
    display: none;
}

.btn {
    padding: 1;
}
.back-button-holder {
    display: flex;
    padding: 0;
}

.back-button-icon {
    flex: 1;
    margin-right: 2px;
    width: 30px;
    height: 30px;
}

.back-button-text {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    margin-bottom: 10px;
}

.eye-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}