body {
    padding: 2%;
}

.scans-holder {
    display: flex;
    flex-wrap: wrap;
}

.scan {
    flex: auto;
    flex-grow: 0;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    margin: 10px;
    padding: 2px;
}

.image-upload>input {
    display: none;
}