.card, .card-body {
    flex:auto;
    margin: 5px;
    width: fit-content;
}

.cards-holder {
    display: flex;
}

.menu {
    display: flex;
    justify-content: center; /* horizontal alignment*/
    align-items: center; /* vertical alignment*/
}

.card-img-top {
    height: 150px;
    width: auto;
}

.scans-holder {
    display: flex;
}

.scan {
    flex: auto;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    margin: 10px;
}

body {
    padding: 2%;
}

.scan-btn-col {
    flex-grow: 2;
    width: min-content;
    height: min-content;
    margin: 5px;
}

.files-btn-col {
    flex-grow: 8;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-upload>input {
    display: none;
  }